:root
{
	--col-highlight: orange;
	--col-highlight-dim: rgb(113, 74, 0);
}


::selection
{
	background-color: var(--col-highlight);
	color: black;
}







html
{
	height: 100%;
}

body
{
	background-color: black;
	font-family: 'Inria Sans', monospace;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0px;
	letter-spacing: 2px;
	word-spacing: 4px;
}







.nomouse
{
	user-select: none !important;
	pointer-events: none !important;
}

.noscroll
{
	overflow: hidden !important;
}

.gone
{
	display: none !important;
}





.titlelinksgroup
{
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: #00000000;
	user-select: none !important;
}

a.titlelink,
a.titlelink:visited
{
	z-index: 10;
	position: relative;
	top: 8px;
	padding: 4px 0px 4px 0px;
	margin: 12px 16px 12px 16px;
	font-size: 26px;
	font-weight: 900;
	color: gray;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	border-bottom: #ffffff00 solid 4px;
	transition: all .07s ease-in-out;
}

a.titlelink:hover,
a.titlelink:visited:hover
{
	border-bottom: gray solid 1px;
	transition: all .07s ease-in-out;
}


a.titlelink_selected,
a.titlelink_selected:visited
{
	z-index: 10;
	position: relative;
	top: 4px;
	padding: 0px;
	margin: 16px;
	font-size: 26px;
	color: var(--col-highlight);
	cursor: pointer;
	text-shadow: 0px 0px 3px var(--col-highlight);
	pointer-events: none;

	border-bottom: var(--col-highlight) solid 3px;
	transition: all .07s ease-in-out;
}

a.titlelink_selected:hover,
a.titlelink_selected:visited:hover
{
	border-bottom: var(--col-highlight) solid 6px;
	transition: all .07s ease-in-out;
}






body::-webkit-scrollbar
{
	display: none;
}

.content::-webkit-scrollbar
{
	display: none;
}




.content
{
	display: flex;
	flex-direction: column;
	flex-grow: 1.0;
	overflow-y: auto;
	max-height: 100%;
	text-align: center;
}




a.subsectiontextlink,
a.subsectiontextlink:visited
{
	font-size: 16px;
	font-weight: 900;
	color: rgb(129, 168, 219);
	text-align: center;
	text-decoration: none;
	border-bottom: black solid 0px;
	border-top: black solid 0px;

	transition: all .15s ease-in-out;
}

a.subsectiontextlink:hover,
a.subsectiontextlink:visited:hover
{
	transition: all .15s ease-in-out;
	color: white;
	border-bottom: white solid 2px;
}

img.round
{
	transition: all .1s ease-in-out;
	transform: scale(92%);
	border-radius: 8px;
	object-fit: cover;
	max-width: 28%;
	overflow: hidden;
	aspect-ratio: 1;
	margin: 0 auto;
	width: 28%;
}

img.round:hover
{
	transition: all .1s ease-in-out;
	border-radius: 10px;
	transform: scale(100%);
}

video.round
{
	transition: all .1s ease-in-out;
	transform: scale(92%);
	border-radius: 8px;
	object-fit: cover;
	max-width: 28%;
	overflow: hidden;
	aspect-ratio: 1;
	margin: 0 auto;
	width: 28%;
}

video.round:hover
{
	transition: all .1s ease-in-out;
	border-radius: 10px;
	transform: scale(100%);
}

.section
{
	width: 90%;
	max-width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 32px;
	padding: 16px;

	border-radius: 12px;
	background-color: #151515;
	font-size: 38px;
	color: orange;
	text-align: center;
}


div.subsection
{
	align-content: center;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	font-weight: 600;
	padding-left: 1rem;
	color: cyan;
	padding: 1rem;
	background-image: linear-gradient(135deg, #ffffff00, #ffffff11);
	margin-top: 1rem;
	text-align: center;
	box-shadow: -0.25rem 0.25rem 0.25rem 0.25rem #00000050;
}



.pagelink
{
	align-content: center;
	height: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;

	border-radius: 0.5rem;
	font-weight: bold;
	padding-left: 1rem;
	color: #dddddd;
	background-image: linear-gradient(135deg, #ffffff00, #ffffff11);
	transition: all .15s ease-in-out;
}

.pagelink:hover
{
	transition: all .15s ease-in-out;
	background-position: 5rem;
}

.pagelinkimg
{
	color: white;
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
}

a.divlink
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	top: -61px;
}

div.subsectiontext
{
	text-align: center;
	font-size: 18px;
	color: white;
	padding: 16px;
}




div.showcasecontainer
{
	transition: all .15s ease-in-out;
	background-color: #00000080;
	position: fixed;
	visibility: visible;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px) grayscale(100%) contrast(80%);
	z-index: 10;
}

div.showcase
{
	background-color: #00000000;
	position: fixed;
	visibility: visible;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

img.showcaseitem
{
	border-radius: 32px;
	border: rgb(24, 24, 24) solid 4px;
	position: absolute;
	max-width: 80%;
	max-height: 80%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	object-fit: contain;
	box-shadow: 0px 0px 50px #000000FF;
	padding: 8px;
}

video.showcaseitem
{
	border-radius: 32px;
	border: rgb(24, 24, 24) solid 4px;
	position: absolute;
	max-width: 80%;
	max-height: 80%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	object-fit: contain;
	box-shadow: 0px 0px 50px #000000FF;
	padding: 8px;
}

.showcasedesc
{
	width: 80%;
	left: 10%;
	position: fixed;
	bottom: 16px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding: 16px;
	text-shadow: 0px 0px 15px black;
}