:root
{
	--bodypatternsize: 4rem;
	--bounce: cubic-bezier(1.0, 0.0, 0.2, 1.2);
	--col-error: #f710105b;
	--col-warn: #e49c155b;
	--col-info: #2592d15b;
	--col-success: #98d40b5b;
	--chat-width: 240px;
	--chat-offset: 100%;
	--chat-tab-position: 0px;
	--background-blur: 30px;
	--background-contrast: 0%;
	--background-brightness: 0%;
}


@keyframes backgroundscene-pattern-scroll
{
	from
	{
		background-position-x: 0%;
	}
	to
	{
		background-position-x: 100%;
	}
}

@keyframes scrollpattern
{
	from
	{
		left: calc(0rem - var(--bodypatternsize));
	}
	to
	{
		left: 0rem;
	}
}

@keyframes save-indicator
{
	0%
	{
		transform: translate(-50%, -40%) scale(85%);
		color: #00ff005b;
	}
	25%
	{
		transform: translate(-50%, -60%) scale(88%);
		color: #46ff4670;
	}
	50%
	{
		transform: translate(-50%, -60%) scale(90%);
		color: #dfff4fff;
	}
	75%
	{
		transform: translate(-50%, -60%) scale(85%);
		color: #46ff4670;
	}
	100%
	{
		transform: translate(-50%, -40%) scale(85%);
		color: #00ff005b;
	}
}

@keyframes huerotate
{
	0%
	{
		filter: hue-rotate(0deg);
	}
	100%
	{
		filter: hue-rotate(360deg);
	}
}
@-webkit-keyframes huerotate
{
	0%
	{
		-webkit-filter: hue-rotate(0deg);
	}
	100%
	{
		-webkit-filter: hue-rotate(360deg);
	}
}

@keyframes huerotate-outline
{
	0%
	{
		filter: hue-rotate(0deg);
		outline-color: red;
		color: red;
	}
	20%
	{
		filter: hue-rotate(72deg);
		outline-color: yellow;
		color: yellow;
	}
	40%
	{
		filter: hue-rotate(144deg);
		outline-color: green;
		color: green;
	}
	60%
	{
		filter: hue-rotate(216deg);
		outline-color: blue;
		color: blue;
	}
	80%
	{
		filter: hue-rotate(288deg);
		outline-color: purple;
		color: purple;
	}
	100%
	{
		filter: hue-rotate(360deg);
		outline-color: red;
		color: red;
	}
}

@keyframes glow-flicker
{
	0%
	{
		opacity: 100%;
	}
	10%
	{
		opacity: 80%;
	}
	20%
	{
		opacity: 90%;
	}
	30%
	{
		opacity: 70%;
	}
	40%
	{
		opacity: 90%;
	}
	50%
	{
		opacity: 60%;
	}
	60%
	{
		opacity: 70%;
	}
	70%
	{
		opacity: 90%;
	}
	80%
	{
		opacity: 80%;
	}
	90%
	{
		opacity: 90%;
	}
	100%
	{
		opacity: 100%;
	}
}


.fullscreen
{
	position: fixed;
	pointer-events: none;
	user-select: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.flex-col
{
	display: flex !important;
	flex-direction: column !important;
}

.flex-row
{
	display: flex !important;
	flex-direction: row !important;
}




.debug-button
{
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: 3rem;
	height: 3rem;
	background-color: #a07c5356;
}
.debug-button:hover
{
	background-color: #bd7625b2;
	border: solid 2px #a07c5356;
}


html
{
	z-index: -500000;
	background-color: #1b1b1b;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

body
{
	z-index: -400000;
	overflow: hidden;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #1b1b1b;

	text-align: center;
	font-size: 2rem;
	font-family: 'Roboto';

	transform-style: preserve-3d !important;
	transform-origin: 50% 50%;
}






.bodypattern
{
	z-index: -300000;
	width: 200%;
	background: radial-gradient(circle, #414141, #414141, #414141, #414141, #5f5f5f, #5f5f5f, #5f5f5f, #5f5f5f, #5f5f5f) repeat;
	background-size: var(--bodypatternsize) var(--bodypatternsize);
	-webkit-mask-image: linear-gradient(#ffffff0c, #ffffff00);
	mask-image: linear-gradient(#ffffff06, #ffffff00);
	animation-duration: 6s;
	animation-name: scrollpattern;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.effect-corner-glow
{
	z-index: -250000;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: radial-gradient(circle at 0% 100%, #ffa60090 0%, #ffa60050 8%, #ffa60000 20%);
	transform-origin: 0% 100%;
	transform: scale(300%, 100%);

	animation: glow-flicker 15s infinite;
}




.logo
{
	z-index: -200000;
	object-fit: contain;
	filter: contrast(80%) blur(3px);
	user-select: none;
	pointer-events: none;

	transition-property: filter;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
}

.site-fader
{
	z-index: 500000;
	user-select: none;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 100%;

	transition-property: opacity;
	transition-delay: 0s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.site-tag
{
	z-index: 150000;
	user-select: none;
	pointer-events: none;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	text-align: right;
	height: 1rem;
	font-size: 0.56rem;
	line-height: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffffff18;
}



.save-indicator
{
	z-index: 9999999;
	user-select: none;
	pointer-events: none;

	display: block;
	opacity: 50%;

	position: fixed;
	top: 1rem;
	left: 0.75rem;

	width: 1.5rem;
	height: 1.5rem;

	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1.5rem;

	transition-property: opacity;
	transition-duration: 0.5s;

	animation-name: save-indicator;
	animation-duration: 0.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}








.notifybannerroot
{
	display: flex;
	flex-direction: column;
	pointer-events: none;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
}

.notifybanner
{
	height: 1.5rem;
	line-height: 1.5rem;

	background-color: #ff331130;
	cursor: pointer;
	user-select: none;
	pointer-events: all;

	color: #ffffffb0;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-align: center;

	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
	transition-property: all;
}
.notifybanner:hover
{
	transform: scale(1.1, 1.1);
	background-color: #ff331160;
	border-color: #f13800ff;
	transition-timing-function: var(--bounce);
	transition-duration: 0.175s;
}





.websitebox
{
	position: fixed;
	top: 4rem;
	left: 4rem;
	width: 50%;
	height: 50%;
}







.twitchinfobox
{
	text-shadow: #00000042 -2px 2px 1px;
	overflow: visible;

	z-index: 5000;
	opacity: 30%;
	pointer-events: all;
	user-select: none;

	position: fixed;
	left: 0.5rem;
	bottom: 0.5rem;

	width: 5rem;
	height: 2rem;
	line-height: 2rem;

	font-size: 0.8rem;
	font-weight: bold;
	color: #e4b165;
	letter-spacing: 0.125rem;

	background-color: #8d61386e;
	border: 3px solid #6e3d6713;
	border-radius: 0.5rem;

	transition-property: color, background-color, border, opacity, width, height, padding;
	transition-duration: 0.5s;
	transition-timing-function: var(--bounce);
	transition-delay: 0.35s;
}
.twitchinfobox:hover
{
	width: 14rem;
	height: 24rem;
	opacity: 100%;
	background-color: #8d6538;
	border: 3px solid #00000079;
	color: #ffdfa4;

	transition-timing-function: var(--bounce);
	transition-duration: 0.25s;
	transition-delay: 0.0s;
}



.twitchinfoboxcontent
{
	display: flex;
	flex-direction: column;
	position: absolute;

	line-height: 1rem;
	top: 1.75rem;
	bottom: 0.25rem;
	left: 0.25rem;
	right: 0.25rem;
	text-align: left;
	letter-spacing: 0.05rem;
	overflow: hidden;
	clip-path: fill-box;
	text-overflow: clip;
}

.twitchinfobox div
{
	opacity: 0%;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.1s;
}
.twitchinfobox:hover div
{
	opacity: 100%;
	transition-duration: 0.25s;
	transition-delay: 0.15s;
}



.menu-windows-button-icon
{
	z-index: 4;
	user-select: none;
	pointer-events: none;

	display: block;
	position: absolute;

	top: 50%;
	left: 0.25rem;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
	opacity: 70%;

	font-family: 'Material Icons';
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 1.15;

	color: white;

	object-fit: contain;
	transform: translate(0%, -50%) scale(80%);
}


.menu-windows-button-band-wip
{
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;

	transform: translate(40%, -50%) rotateZ(30deg);
	background-color: #00ccff5d;
	color: white !important;
	box-shadow: #0000002c 0px 0px 5px 1px;

	text-align: center;
	font-size: 0.6rem;
}

.menu-windows-button-band-coming-soon
{
	position: absolute;
	opacity: 10%;
	top: 50%;
	right: 0;
	width: 100%;

	transform: translate(20%, -50%) rotateZ(20deg);
	background-color: #ffa600a8;
	color: white !important;
	box-shadow: #0000002c 0px 0px 5px 1px;

	text-align: center;
	font-size: 0.6rem;
}

.menu-windows-button-label
{
	position: absolute;
	top: 50%;
	left: 2rem;
	transform: translate(0%, -50%);
	width: 100%;

	text-align: left;
}

.menu-windows-button-disabled > .menu-windows-button-label
{
	filter: blur(0.8px) !important;
}

.menu-windows-button-disabled
{
	cursor: default !important;
	pointer-events: none !important;
}

.menu-windows-button
{
	user-select: none;
	pointer-events: all;
	cursor: pointer;
	position: relative;

	overflow: hidden;

	flex-grow: 1;
	flex-shrink: 1;
	height: 0;
	text-align: center;

	border-radius: 0.4rem;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
	padding: 0.05rem;
	padding-left: 0.05rem;

	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 0.05rem;
	text-shadow: #00000005 -2px 2px 0px;

	color: #ffffff86;
	background-color: #0000002f;

	transform: scale(98%, 98%);

	transition-property: opacity, transform, background-color, color, text-shadow !important;
	transition-delay: 0s !important;
	transition-duration: 0.15s !important;
	transition-timing-function: ease-in-out !important;
}
.menu-windows-button:hover
{
	transition-duration: 0.03s !important;
	text-shadow: #00000042 -2px 2px 1px !important;
	color: #ffbe73 !important;
	background-color: #0000007e !important;
	transform: scale(100%, 100%) !important;
}